

@keyframes turn-on {
    0% {
      -webkit-transform: scale(1, .8) translate3d(0, 0, 0);
      transform: scale(1, .8) translate3d(0, 0, 0);
      opacity: 1
    }
    5% {
      -webkit-transform: scale(1.09139, 1.34235) translate3d(0, 100%, 0);
      transform: scale(1.09139, 1.34235) translate3d(0, 100%, 0)
    }
    10% {
      -webkit-transform: scale(.63084, 1.40698) translate3d(0, -100%, 0);
      transform: scale(.63084, 1.40698) translate3d(0, -100%, 0)
    }
    15% {
      -webkit-transform: scale(.75142, 1.34118) translate3d(0, 100%, 0);
      transform: scale(.75142, 1.34118) translate3d(0, 100%, 0)
    }
    20% {
      -webkit-transform: scale(.96173, 1.36858) translate3d(0, -100%, 0);
      transform: scale(.96173, 1.36858) translate3d(0, -100%, 0)
    }
    25% {
      -webkit-transform: scale(1.1348, 1.02729) translate3d(0, 100%, 0);
      transform: scale(1.1348, 1.02729) translate3d(0, 100%, 0)
    }
    30% {
      -webkit-transform: scale(.97038, .71092) translate3d(0, -100%, 0);
      transform: scale(.97038, .71092) translate3d(0, -100%, 0)
    }
    35% {
      -webkit-transform: scale(.6067, 1.31101) translate3d(0, 100%, 0);
      transform: scale(.6067, 1.31101) translate3d(0, 100%, 0)
    }
    40% {
      -webkit-transform: scale(.786, .9326) translate3d(0, -100%, 0);
      transform: scale(.786, .9326) translate3d(0, -100%, 0)
    }
    45% {
      -webkit-transform: scale(1.38602, 1.14399) translate3d(0, 100%, 0);
      transform: scale(1.38602, 1.14399) translate3d(0, 100%, 0)
    }
    50% {
      -webkit-transform: scale(.69973, .90412) translate3d(0, -100%, 0);
      transform: scale(.69973, .90412) translate3d(0, -100%, 0)
    }
    51% {
      -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
      transform: scale(1, 1) translate3d(0, 0, 0);
      -webkit-filter: brightness(1) saturate(1);
      filter: brightness(1) saturate(1);
      opacity: 0
    }
    100% {
      -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
      transform: scale(1, 1) translate3d(0, 0, 0);
      -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
      filter: contrast(1) brightness(1.2) saturate(1.3);
      opacity: 1
    }
  }
  
  @keyframes turn-off {
    0% {
      -webkit-transform: scale(1, 1.3) translate3d(0, 0, 0);
      transform: scale(1, 1.3) translate3d(0, 0, 0);
      -webkit-filter: brightness(1);
      filter: brightness(1);
      opacity: 1
    }
    60% {
      -webkit-transform: scale(1.3, .001) translate3d(0, 0, 0);
      transform: scale(1.3, .001) translate3d(0, 0, 0);
      -webkit-filter: brightness(10);
      filter: brightness(10)
    }
    100% {
      -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
      animation-timing-function: cubic-bezier(.755, .05, .855, .06);
      -webkit-transform: scale(0, .0001) translate3d(0, 0, 0);
      transform: scale(0, .0001) translate3d(0, 0, 0);
      -webkit-filter: brightness(50);
      filter: brightness(50)
    }
  }
  
  @keyframes flashText {
    0% {
      opacity: .3
    }
    100% {
      opacity: 1
    }
  }
  
  @keyframes flicker {
    0% {
      opacity: .86139
    }
    5% {
      opacity: .12793
    }
    10% {
      opacity: .36759
    }
    15% {
      opacity: .9766
    }
    20% {
      opacity: .61364
    }
    25% {
      opacity: .94477
    }
    30% {
      opacity: .57811
    }
    35% {
      opacity: .03416
    }
    40% {
      opacity: .21835
    }
    45% {
      opacity: .62054
    }
    50% {
      opacity: .89452
    }
    55% {
      opacity: .89997
    }
    60% {
      opacity: .37872
    }
    65% {
      opacity: .04929
    }
    70% {
      opacity: .14477
    }
    75% {
      opacity: .27512
    }
    80% {
      opacity: .84701
    }
    85% {
      opacity: .85952
    }
    90% {
      opacity: .76553
    }
    95% {
      opacity: .91372
    }
    100% {
      opacity: .05536
    }
  }
  
  @keyframes steady {
    from {
      background: rgba(255, 230, 230, .1)
    }
    to {
      background: rgba(49, 45, 45, .1)
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes animate-bg {
    from { background-position: 0 0; }
    to { background-position: -200px 0; }
  }
  
  .flash {
    -webkit-animation: flashText 1s ease-out alternate infinite;
    animation: flashText 1s ease-out alternate infinite
  }
  

@keyframes scanline {
	0.01% {
		transform: translatey(-100%);
	}
	99.99% {
		transform: translatey(0);
	}
	100% {
		transform: translatey(-100%);
	}
}

@keyframes glitch {
	2%,
	64% {
		transform: translate(2px, 0) skew(0deg);
	}
	4%,
	60% {
		transform: translate(-2px, 0) skew(0deg);
	}
	62% {
		transform: translate(0, 0) skew(5deg);
	}
}

@keyframes glitch--top {
	2%,
	64% {
		transform: translate(2px, -2px);
	}
	4%,
	60% {
		transform: translate(-2px, 2px);
	}
	62% {
		transform: translate(13px, -1px) skew(-13deg);
	}
}

@keyframes glitch--bottom {
	2%,
	64% {
		transform: translate(-2px, 0);
	}
	4%,
	60% {
		transform: translate(-2px, 0);
	}
	62% {
		transform: translate(-22px, 5px) skew(21deg);
	}
}

.glitch {
	animation: glitch 1.5s linear infinite;
}

.glitch--clone {
	opacity: 0.2;
}

.glitch--clone .hydra {
	filter: blur(2px);
	opacity: 0.8;
}

.glitch--top {
	animation: glitch--top 1s linear infinite;
}

.glitch--top .hydra {
	transform: translate(4vw, 4vw);
}

.glitch--bottom {
	animation: glitch--bottom 0.75s linear infinite;
}

.glitch--bottom .hydra {
	transform: translate(-1vw, -1vw);
}

