@font-face {
  font-family: 'DOSGothic';
  src: url(~@/assets/fonts/DOSGothic.woff) format('woff');
}

@font-face {
  font-family: 'DOSMyungjo';
  src: url(~@/assets/fonts/DOSMyungjo.woff) format('woff');
}

@font-face {
  font-family: 'DOSSaemmul';
  src: url(~@/assets/fonts/DOSSaemmul.woff) format('woff');
}

@font-face {
  font-family: 'MiraeroNormal';
  src: url(~@/assets/fonts/MiraeroNormal.woff) format('woff');
}

@font-face {
  font-family: 'Sam3KRFont';
  src: url(~@/assets/fonts/Sam3KRFont.woff) format('woff');
}

